<% if @reviews.any? %>
<div class="col-md-4">
<h3>My Reviews</h3>
<% @reviews.each do |review| %>
  <div class="review">
  <%= link_to product_path(review.product) do %>
    <div>
      <p class="review-title"><%= review.product.name %></p>
      <p class="review-content"><%= review.content %></p>
      <%= link_to review, method: :delete,
            data: { confirm: "Are you sure?" } do%>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
    </div>
  <% end %>
  </div>
<% end %>
</div>
<div class="col-md-8">
  <h3>Orders Placed</h3>
  <%= render 'static/order_list' %>
</div>
<% end %>