<%= form_for @item, id: "add-item-form", remote: true do |f| %>
<div class="form-group">
  <%= hidden_field_tag(:product_id, @product.id) %>
  <%= label_tag(:quantity, "Quantity:") %>
  <%= f.text_field :quantity, class: "form-control" %>
</div>
<%= f.submit "Add to Cart", class: "btn btn-primary add-btn" %>
<% end %>