<table class="table">
  <thead class="thead-inverse">
    <tr>
      <th>#</th>
      <th>Product Name</th>
      <th>Brand</th>
      <th>Price</th>
      <th>Category</th>
    </tr>
  </thead>
  <tbody>
    <% if @products.any? %>
    <% @products.each do |product| %>
      
      <tr>
        <td><%= product.id %></td>
        <td><%= link_to product.name, product_path(product.id) %></td>
        <td><%= product.brand %></td>
        <td><%= product.price %></td>
        <td><%= product.category.name %></td>
        <td><%= link_to product, method: :delete,
            data: { confirm: "Are you sure?" } do%>
            <i class="fa fa-trash" aria-hidden="true"></i>
            <% end %>
        </td>
        <td><%= link_to edit_product_path(product) do%>
            <i class="fa fa-pencil" aria-hidden="true"></i>
            <% end %>
        </td>
      </tr>
      
    <% end %>
    <% end %>
  </tbody>
</table>