<h2>My Cart</h2>

<%= link_to @cart, method: :delete, data: { confirm: "Are you sure?" } do%>
  <p>Empty Cart</p>
<% end %>

<% if @cart.items.any? %>
<div class="row" id="my-cart">
<div class="col-md-4"> 
  <% @cart.items.each do |item| %>
  <div class="cart-product row">
    <div class="cart-image col-md-4">
      <% if item.product.image? %>
        <%= image_tag(product.image.url) %>
      <% else %>
        <i class="fa fa-4x fa-picture-o" aria-hidden="true"></i>
      <% end %>
    </div>

    <div class="col-md-8">
      <h4><%= link_to item.product.name, product_path(item.product) %></h4>
      Quantity <%= item.quantity %>
      <p>Rs. <%= item.product.price %></p>
      <%= link_to item, method: :delete,
              data: { confirm: "Are you sure?" } do%>
              <i class="fa fa-trash" aria-hidden="true"></i>
              <% end %>
    </div>
  </div>
  <% end %>
 <p>Total: Rs. <%= @cart.total_price %></p>
</div>

<div class="col-md-4 checkout-form">
  <%= form_for @order, html: {class: "order_form"} do |f| %>
  <div class="form-group">
    <%= label_tag(:name, "Name:") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag(:address, "Address:") %>
    <%= f.text_area :address, size: "30X18", class: "form-control" %>
  </div>
  <div class="form-group">
    <%= label_tag(:pin, "Pincode:") %><%= f.text_field :pin, class: "form-control" %>
  </div>
  <%= f.submit "Proceed to Checkout", class: "btn btn-success" %>
  <% end %>
</div>
</div>
<% end %>