<div class="col-md-4 add-category-form">
  <h4>Create New Category</h4>
    <%= form_for @new_category do |f| %>
      <div class="form-group">
        <%= label_tag(:name, "Name:") %>
        <%= f.text_field :name, class: "form-control" %>
      </div>
      <%= f.submit "Add Category", class: "btn btn-primary add-category-btn" %>
    <% end %>

    <%= link_to "Add Category + Products", new_category_path, class: "btn btn-primary" %>
</div>