<div class="col-md-4">
<%= nested_form_for @category do |f| %>
  <div class="form-group fields">
    <%= label_tag(:name, "Category Name:") %>
    <%= f.text_field :name, class: "form-control" %>
  </div>
  Products:
  <%= f.fields_for :products do |product_form| %>
    <%= render 'categories/product_fields', f: product_form %>
    <p><%= product_form.link_to_remove "Remove this product" %></p>
  <% end %>
  <p class="add-product-btn"><%= f.link_to_add "Add product", :products, class: "btn btn-primary" %></p>
  <%= f.submit "Submit", class: "btn btn-success" %>
<% end %>
</div>