<% provide(:title, @product.name) %>
<h2><%= @product.name %><%= rating_for @product, "product", disable_after_rate: true, cancel: false %></h2>
<% if @product.image? %>
  <%= image_tag(@product.image.url) %>
<% else %>
  <i class="fa fa-4x fa-picture-o" aria-hidden="true"></i>
<% end %>
<p><%= @product.category.name %></p>
<p><%= @product.brand %></p>
<p><%= pluralize(@product.units, "unit") %> available</p>
<p>Price : Rs.<%= @product.price %></p>
<p><%= @product.description %></p>

<%if signed_in? %>
<%= link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do %>
<div class="btn btn-primary cart-button">
<i class="fa fa-shopping-cart" aria-hidden="true"></i>
<span><%= @cart_action %></span> Cart
</div>
<%end%>

<%= link_to "Buy Now", buy_cart_path(@product), { class: "btn btn-success" } %>


<%end%>

<% if @reviews.any? %>
<h3>Reviews</h3>
<% @reviews.each do |review| %>
<p><b><%= review.user.email %></b></p>
<p><i><%= review.content %></i></p>
<% end %>
<% end %>

<%if user_signed_in? %>
<%= form_for @review do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= label_tag(:content, "New Review:") %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= hidden_field_tag :user_id, current_user.id  %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<% end %>