<% provide(:title, @product.name) %>
<div class="row">
  <div class="col-md-4">
    <div class="product-show-image">
      <% if @product.image? %>
        <%= image_tag(@product.image.url, class: "img-responsive") %>
      <% else %>
        <i class="fa fa-4x fa-picture-o" aria-hidden="true"></i>
      <% end %>
    </div>
  </div>

  <div class="col-md-4">
    <h2><%= @product.name %>
    <%= rating_for @product, "product", disable_after_rate: true, cancel: false %></h2>
    <p><%= @product.brand %></p>
    <p>Price: <b>Rs. <%= @product.price %></b></p>
    <p><%= @product.description %></p>

    <%if user_signed_in? && !current_user.try(:admin?) %>

    <%= link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do %>
      <div class="btn btn-primary cart-button">
      <i class="fa fa-shopping-cart" aria-hidden="true"></i>
      <span><%= @cart_action %></span> Cart
      </div>
    <%end%>

    <%= link_to "Buy Now", buy_cart_path(@product), { class: "btn btn-success" } %>

    <%end%>
  </div>
</div>
<div class="row review-group">
<div class="col-md-12">
  <h3>Reviews</h3>
  </div>

<% if @reviews.any? %>
<div class="col-md-6">
    <% @reviews.each do |review| %>
    <div class="review">
      <p class="review-author"><b><%= review.user.email %></b></p>
      <div class="review-content">
        <i><%= review.content %></i>
      </div>
    </div>
  <% end %>
</div>
<% end %>


<div class="col-md-6">
<div class="review-form">
<%if user_signed_in? && !current_user.try(:admin?)  %>
<%= form_for @review do |f| %>
  <%= render 'shared/error_messages', object: f.object %>
  <div class="form-group">
    <%= label_tag(:content, "New Review:") %>
    <%= f.text_area :content, class: "form-control" %>
  </div>
  <%= hidden_field_tag :user_id, current_user.id  %>
  <%= hidden_field_tag :product_id, @product.id %>
  <%= f.submit class: "btn btn-primary" %>
<% end %>
<% end %>
</div>
</div>
</div>