<% provide(:title, @product.name) %>
<%= render 'shared/catbar' %>
<h2><%= @product.name %></h2>
<p><%= @product.category.name %></p>
<p><%= @product.brand %></p>
<p><%= pluralize(@product.units, "unit") %> available</p>
<p>Price : Rs.<%= @product.price %></p>
<p><%= @product.description %></p>
<%if signed_in? %>
  <%= link_to "", class: "button", data: {target: @cart_action, addUrl: add_to_cart_path(@product), removeUrl: remove_from_cart_path(@product)} do %>
    <i class="fa fa-shopping-cart" aria-hidden="true"></i>
    <span><%= @cart_action %></span> Cart
  <%end%>
<%end%>