<div class="container-fluid navbar navbar-inverse">
<header class="container">

    <%= link_to "Kart", root_path, id: "logo", class: "col-md-1" %>

    <div class="col-md-4 search-products-form">
    <div class="form-inline">
      <%= form_tag products_path, method: 'get' do |f| %>
        <div class="form-group">
          <%= text_field_tag :search, params[:query], class: "form-control", id: "search-box" %>
        </div>
        <%= submit_tag "Search", class: "btn btn-primary" %>
      <% end %>
    </div>
    </div>

    <nav class="main-nav col-md-6 text-center">
      <ul class="nav navbar-nav navbar-right">
        <li id="cart-count">
          <%= link_to "My Cart (" + @cart.items.count.to_s + ")", cart_path(session[:cart_id]) %>
        </li>
        <% if user_signed_in? %>
          <li>
            <%= link_to current_user.email, user_path(current_user) %>
          </li>
          <li>
            <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>        
          </li>
        <% else %>
          <li>
            <%= link_to('Login', new_user_session_path) %>  
          </li>
        <% end %>
      </ul>
    </nav>
</header>
</div>